<div class="row mb-5">
  <div class="col-md-4 offset-md-4">
    <%= for row <- @board do %>
      <div class="row">
        <%= for cell <- row do %>
          <div class="col cell">
            <%= cell %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center">
  <div class="btn btn-outline-primary mb-3" id="restart">Restart</div>
  <div id="terminal"></div>
</div>
